.home-about {
  margin-top: -2px;
  background-color: $color-primary;
}

.home-about__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;

  img {
    width: 100%;
  }

  .home-about__text {
    width: 100%;
    opacity: 0.55;
  }
}
