.home-experience {
  background-color: $color-secondary;
}

.home-experience__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0 4rem;

  img {
    width: 100%;
    user-select: none;
  }
}
