.footer {
  background-color: $color-secondary;
}

.footer__mail {
  font-size: 1.5rem;
  text-decoration: underline;
}

.footer__copyright {
  border-top: 2px dashed rgba($color-light, 0.1);
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  text-align: center;
}
