.header_background {
  background: linear-gradient(
    180deg,
    $color-secondary-light 10%,
    $color-secondary 100%
  );
}

.header_heading {
  margin-top: 4.375rem;
  margin-bottom: 0;
}

.header_second-heading {
  font-weight: 200;
}

.header_text {
  margin-top: 1.875rem;
  max-width: 35.5rem;
  text-align: center;
}

.header_img-container {
  display: flex;
  justify-content: space-between;
  margin: 2.2rem 0;
  width: 17.5rem;
}

.header_img-social {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.15s ease-in;

  &:hover {
    opacity: 0.5;
  }
}

.header_img-github {
  background-image: url("/images/icons/github.svg");
}

.header_img-linkedin {
  background-image: url("/images/icons/linkedin.svg");
}

.header_img-facebook {
  background-image: url("/images/icons/facebook.svg");
}

.header_img-instagram {
  background-image: url("/images/icons/instagram.svg");
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 18.75rem;
  background-color: $color-primary;
  color: $color-secondary-dark;
  font-size: 1.25rem;
  border-radius: 6.25rem;
}

// 760px
@media (max-width: 47.5rem) {
  .header_heading {
    margin-top: 2rem;
  }

  .header_text {
    margin-top: 1.25rem;
  }

  .header_img-container {
    margin: 2.5rem 0;
    width: 15rem;

    .header_img-social {
      width: 2rem;
      height: 2rem;
    }
  }

  .header_btn {
    width: 16.25rem;
    height: 3.25rem;
    font-size: 1rem;
  }
}
