// 1280px
@media (max-width: 75rem) {
  // Home Skills
  .home-skills__item .home-skills__img {
    height: 4rem;
  }
}

// 1000px
@media (max-width: 62.5rem) {
  h1 {
    margin-bottom: 2.5rem;
  }

  // Home Experience
  .home-experience__block {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 2rem;

    img {
      padding: 0 1.25rem;
    }
  }

  // Home About
  .home-about__container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    img {
      max-height: 20rem;
    }
  }
}

// 760px
@media (max-width: 47.5rem) {
  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .container {
    padding: 4rem 0.75rem;
  }

  .footer__mail {
    font-size: 1.25rem;
  }

  // Home header
  .home-header__text {
    margin-top: 1rem;
  }

  .home-header__social {
    margin: 2.5rem 0;
    width: 16rem;

    .home-header__social-img {
      width: 2rem;
      height: 2rem;
    }
  }

  .home-header__btn {
    width: 16rem;
    height: 3.5rem;
    font-size: 1.15rem;
  }

  // Home Skills
  .home-skills__block {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }

  // Home Experience
  .home-experience__block {
    grid-gap: 4rem 0;
    margin: 1rem 0;

    img {
      padding: 0;
    }
  }
}

// 540px
@media (max-width: 33.75rem) {
  // Home Experience
  .home-experience__block {
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
    margin: 0 0 1rem;

    img {
      padding: 0 2rem;
    }
  }

  // Home Portfolio
  .home-portfolio__title {
    margin-bottom: 1.5rem;
  }

  .home-portfolio__container {
    flex-direction: column;
  }

  .home-portfolio__img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
