// Variables
$color-primary: #fcc70f;
$color-secondary: #1e2331;
$color-secondary-light: #3f495f;
$color-secondary-dark: #171c27;
$color-light: #eeeeee;
$color-gray: #e0e0e0;

// Partials
@import "fonts";
@import "header";
@import "skills";
@import "experience";
@import "about";
@import "potrfolio";
@import "footer";

*,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 2.5rem;
  color: $color-light;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  color: $color-light;
  font-size: 1.5rem;
  text-align: center;
}

p {
  color: $color-light;
  font-size: 1rem;
}

// Decoration wave
.wave {
  display: grid;
}

// All containers
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -0.125rem auto 0; // minus for space between bg and wave
  padding: 5rem 1rem 6.25rem;
  width: 100%;
  max-width: 75rem;
}

// Color for text
.text-dark {
  color: $color-secondary-dark;
}

// 760px
@media (max-width: 47.5rem) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
