// Variables
$color-primary: #fcc70f;
$color-secondary: #292b3e;
$color-light: #eeeeee;
$color-gray: #e0e0e0;

// Partials
@import "fonts";
@import "./home/home";
@import "footer";

html {
  background-color: $color-secondary;
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px rgba($color-secondary, 0.3);
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: $color-light;
}

h1 {
  margin-bottom: 4rem;
  color: $color-light;
  font-size: 3rem;
  text-align: center;
}

h2 {
  color: $color-light;
  font-size: 1.5rem;
  text-align: center;
}

p {
  color: $color-light;
  font-size: 1rem;
}

// All containers
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 6rem 1rem;
  width: 100%;
  max-width: 75rem;
}

// Color for text
.text-dark {
  color: $color-secondary;
}

// Mailgo
.m-modal.m-dark {
  .m-modal-content {
    background-color: $color-secondary !important;
    border: 4px solid rgba($color-light, 0.05);

    a {
      border-radius: 10rem;
    }
  }

  #m-outlook,
  #m-yahoo {
    display: none;
  }
}

// Partial with responsive styles
@import "responsive";
